{% extends 'Blogapp/base.html' %}
{% block title %}Edit post{% endblock %}
{% block content %}

{% if user.is_authenticated %}
  {% if user.id == post.author.id %}
      <h1>Update Blog Post</h1><br><br>
      <div class="form-group">
      <form method="post">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button class="btn btn-secondary">Update Post</button>
      </form>
      </div>
    {% else %}
        <h4>You're not allowed here !</h4>
    {% endif %}
{% else %}
  You're not allowed here !
{% endif %}

{% endblock %}
